In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films'

In [3]:
dfs = pd.read_html(url)

In [4]:
print(len(dfs))

2

In [5]:
df = dfs[0]
print(df)

                                                   Film  Year Awards  \
0                                                 Anora  2024      5
1                                         The Brutalist  2024      3
2                                          Emilia Pérez  2024      2
3                                                Wicked  2024      2
4                                        Dune: Part Two  2024      2
...                                                 ...   ...    ...
1382                            The Yankee Doodle Mouse  1943      1
1383                                       The Yearling  1946      2
1384  Yesterday, Today and Tomorrow (Ieri, oggi, dom...  1964      1
1385                         You Can't Take It with You  1938      2
1386                    Zorba the Greek (Alexis Zorbas)  1964      3

     Nominations
0              6
1             10
2             13
3             10
4              5
...          ...
1382           1
1383           7
1384           1
1385           7
1386           7

[1387 rows x 4 columns]

In [6]:
print(df['Film'])

0                                                   Anora
1                                           The Brutalist
2                                            Emilia Pérez
3                                                  Wicked
4                                          Dune: Part Two
                              ...
1382                              The Yankee Doodle Mouse
1383                                         The Yearling
1384    Yesterday, Today and Tomorrow (Ieri, oggi, dom...
1385                           You Can't Take It with You
1386                      Zorba the Greek (Alexis Zorbas)
Name: Film, Length: 1387, dtype: object

In [7]:
print(df['Year'])

0       2024
1       2024
2       2024
3       2024
4       2024
        ...
1382    1943
1383    1946
1384    1964
1385    1938
1386    1964
Name: Year, Length: 1387, dtype: object

In [8]:
df2 = df[['Film', 'Year']]

In [9]:
print(df2)

                                                   Film  Year
0                                                 Anora  2024
1                                         The Brutalist  2024
2                                          Emilia Pérez  2024
3                                                Wicked  2024
4                                        Dune: Part Two  2024
...                                                 ...   ...
1382                            The Yankee Doodle Mouse  1943
1383                                       The Yearling  1946
1384  Yesterday, Today and Tomorrow (Ieri, oggi, dom...  1964
1385                         You Can't Take It with You  1938
1386                    Zorba the Greek (Alexis Zorbas)  1964

[1387 rows x 2 columns]

In [10]:
df2.to_excel('movie.xlsx')